<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://img.freepik.com/premium-photo/shopping-fashion-retail-black-woman-with-smile-outside-mall-happy-customer-after-discount-sale-shopping-mall-city-girl-smiling-with-designer-boutique-bags-fun-summer-holiday_590464-92545.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn btn-primary">Hemen Al</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://t3.ftcdn.net/jpg/03/14/63/92/360_F_314639225_ZEcgSjXNlPVEXZKaJRMyYMBwPGNEPs0p.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 30%</h6>
            <h3 class="text-white mb-3">Günü Fırsatı</h3>
            <a href="" class="btn btn-primary">Hemen Al</a>
        </div>
    </div>
</div>